<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aurae_Facebook_Image_Crawler.ToolSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Aurae_Facebook_Image_Crawler.ToolSettings>
            <setting name="Id" serializeAs="String">
                <value />
            </setting>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
            <setting name="Cookie" serializeAs="String">
                <value />
            </setting>
            <setting name="Max" serializeAs="String">
                <value />
            </setting>
            <setting name="Loop" serializeAs="String">
                <value />
            </setting>
            <setting name="StickerPath" serializeAs="String">
                <value />
            </setting>
        </Aurae_Facebook_Image_Crawler.ToolSettings>
    </userSettings>
</configuration>